<div>
    <table>
        <thead>
            <th>Data</th>
            <th>Código do ativo</th>
            <th>Tipo de operação</th>
            <th>Quantidade</th>
            <th>Preço unitário</th>
            <th>Valor Bruto</th>
            <th>Taxas B3</th>
            <th>Valor líquido</th>
        </thead>
        <tbody>
                <tr>
                    <td>
                        01/01/2025
                    </td>
                    <td>
                        ITSA4
                    </td>
                    <td>
                       compra
                    </td>
                    <td>
                        500
                    </td>
                    <td>
                        10.00
                    </td>
                    <td>
                        5000.00
                    </td>
                    <td>
                        1.50
                    </td>
                    <td>
                        5001.50
                    </td>
                </tr>
        </tbody>
    </table>
    <div class="container-botoes">
        <a class="botao-link" href="/nova_operacao">Cadastrar nova operação</a>
    </div>
</div>